/* @import url('./styles/normalize.css'); */

html {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  [class*='__container'] {
    max-width: 1200px;
  }
  
  @media(min-width: 1200px) {
    [class*='__container'] {
      margin: 0 auto;
    }
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  p {
    margin: 0;
  }
  
  .heading-1,
  .heading-2 {
    margin: 0;
    font-weight: 700;
  }
  
  
  .heading-1 {
    font-size: 28px;
    line-height: 35px;
    /* letter-spacing: -0.28px; */
  }
  
  .heading-2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
  
  .text-16,
  .text-14,
  .text-13 {
    margin: 0;
    color: var(--text-black);
    font-weight: 400;
  }
  
  .text-16 {
    font-size: 16px;
    line-height: 24px;
  }