.header {
    padding: 18px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.header__menuList {
    display: flex;
    flex-direction: row;
}

.header__menu-link {
    cursor: pointer;
}

.header__menuList img {
    margin-right: 10px;
}